include header.pug
each entry in entries
    div(class="panel panel-default")
        div(class="panel-heading")
            =entry.title
            div(class="text-muted pull-right")
                =entry.published 
        div(class="panel-body")
            =entry.body
else
    p No entries