include header.pug
h2 Write a new entry
form(method="POST" action="/new-entry")
    div(class="form-group")
        label(for="title") Title
        input(type="text", class="form-control", name="title", id="title" placeholder="Entry title" required)
    div(class="form-group")
        label(for="content") Entry text
        textarea(class="form-control", id="body", name="body", rows="3", cols="10", placeholder="YOBA", required)
    div(class="form-group")
        input(type="submit", value="Post entry", class="btn btn-primary")